{
  "env": { "browser": true }, // do not trip on browser globals, e.g. window, document..
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],  // apply prettier through ESLint
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "strict": 0, // for babel-eslint

    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off"
  }
}
